.input-design{
    border: 1px solid #ced4da;
    display: block;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    background-color: white;
    background-clip: padding-box;
}